{% load bootstrap5 %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {% include "navbar/partials/brand.html" %}
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="d-flex navbar-nav ms-auto">
      <li class="nav-item">
        <form action="{% url 'substitute:search' %}" method="get" class="d-flex">
          {% bootstrap_form searchform layout='inline' %}
        </form>
      </li>
    {% if user.is_authenticated %}
      {% include "navbar/partials/logged_in.html" %}
    {% else %}
      {% include "navbar/partials/logged_out.html" %}
    {% endif %}
    </ul>
  </div>
</nav>