{% if detail_view %}
    <h3 class="text-white text-center">Voici {{ prod_list.count }} produits de substitutions:</h3>
{% elif favorites %}
    <h3 class="text-white text-center">Voici vos Favoris:</h3>
{% else %}
    <h3 class="text-white text-center">Voici les produits qui ressemble à:</h3>
    <h3 class="text-black text-center">{{ query }}</h3>
{% endif %}