<div class="pagination justify-content-center">
  <span class="page-links">
    {% if page_obj.has_previous %}
      <a href="?search={{ query }}&page=1">&laquo; Début</a>
      <a href="?search={{ query }}&page={{ page_obj.previous_page_number }}">Précédent</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
      <a href="?search={{ query }}&page={{ page_obj.next_page_number }}">Suivant</a>
      <a href="?search={{ query }}&page={{ page_obj.paginator.num_pages }}">Fin &raquo;</a>
    {% endif %}
  </span>
</div>