<section class="page-section bg-primary py-0" id="resultat">
    <div class="container-fluid p-4">
      <div class="row g-4">
        {% if prod_list %}
          <div class="col-12">
            {% include "substitute/partials/list_title.html" with prod_list=prod_list %}
          </div>
          {% for alt_prod in prod_list %}
            <div class="col-md-4 col-sm-6 px-4">
              <div class="card h-100">
                <div class="card-body d-flex flex-column h-100">
                  <div class="d-flex flex-grow-1 justify-content-center align-items-center">
                    <a href="{% url 'substitute:prod-detail' pk=alt_prod.pk %}">
                      <img src="{{ alt_prod.image_url }}" class="img-fluid my-auto mx-auto">
                    </a>
                  </div>
                  <div>
                    <h5 class="card-title align-items-bottom text-center">
                    {{ alt_prod.name }}
                    </h5>
                    <p class="card-text align-items-bottom text-center">
                      Nutriscore: {{ alt_prod.nutriscore }}
                    </p>
                    <div class="text-center mx-auto ">
                      <a href="{% url 'substitute:prod-detail' pk=alt_prod.pk %}" class="btn btn-primary">
                        Accéder à la fiche produit
                      </a>
                      {% if user.is_authenticated %}
                        {% if alt_prod in user.all_favs_prods %}
                          <form method='post' action="{% url 'substitute:remove_favorite' alt_prod.pk %}">
                            {% csrf_token %}
                            <input type='hidden' name='product'  id="id_product" value="{{ alt_prod.pk }}"/>
                            <button class="btn btn-primary" type='submit'>Supprimer des favoris</button>
                          </form>
                        {% elif alt_prod not in user.all_favs_prods %}
                          <form method='post' action="{% url 'substitute:add_favorite' alt_prod.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="product" id="id_product" value="{{ alt_prod.pk }}"/>
                            <button class="btn btn-primary" type='submit'>Ajouter aux favoris</button>
                          </form>
                        {% endif %}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% elif favorites %}
          <p class="text-center">
            Vous n'avez aucun favoris d'enregistré.
          </p>
        {% else %}
          <p class="text-center">
            Nous n'avons aucun produit de substitution pertinent à vous conseillez.
          </p>
        {% endif %}
      </div>
    </div>
  </section>