{% extends "home.html" %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block title %}Modification de vos informations {% endblock title %}

{% block content %}
<h2>Modification</h2>
<form method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      Modifier
    </button>
  {% endbuttons %}
</form>
{% endblock content %}