{% extends "home.html" %}


{% load static %}
{% load bootstrap5 %}

{% block title %}Détail produit de {{ product.name }}{% endblock title %}

{% block content %}
<section class="page-section py-2" id="top-page">
  <div id="product_detail" class="container"  style="background-image: url({{ product.image_url }})">
  </div>
  <div class="container">
    <div class="row align-items-center justify-content-center">
      {{ product.name }}
    </div>
  </div>
</section>

<section class="page-section bg-secondary py-3" id="resultat">
    <div class="container">
      <div class="row text-center">
        <div class="d-flex align-items-center justify-content-center col-md-6">
          {% with "assets/img/nutriscore-"|add:product.nutriscore|add:".svg" as url %}
            <img src="{% static url %}">
          {% endwith %}
        </div>
        <div class="col-md-6">
          <h4>
            Repères nutritionnels pour 100g
          </h4>
          <p>
            <img src="{{ product.image_nutri }}">
          </p>
        </div>
        <div class="text-center">
          <a href="{{ product.url }}" class="btn btn-primary">
            Voir la fiche d'openfoodfacts
          </a>
        </div>
      </div>
    </div>
</section>

<section class="page-section py-3" id="substitutes">
  <div class="container px-4 px-lg-5">
    <div class="row align-items-center justify-content-center">
      {% include "substitute/partials/product_list.html" with prod_list=substitutes detail_view=True %}
    </div>
  </div>
</section>

{% endblock content %}