{% if messages %}
  <div class="position-absolute end-0 top-0 z-index-fixed mt-3 me-3">
    {% for message in messages %}
      <!-- Then put toasts within -->
      <div class="toast fade show bg-light text-{{ message.tags }}"
            role="alert" aria-live="polite" data-bs-autohide="true" aria-atomic="true" data-bs-delay="6000">
          <div class="toast-header text-{{ message.tags }} border-0">
              <strong class="me-auto">
                  {% if message.tags == 'danger' %}Erreur{% elif message.tags == 'success' %}
                      Succes{% endif %}</strong>
          </div>
          <div class="toast-body">
              {{ message|safe }}
          </div>
      </div>
    {% endfor %}
  </div>
{% endif %}