{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
  <html lang="fr">
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <meta name="description" content="P8-OC_Nutella" />
      <meta name="author" content="Samy SAAD" />
      <title>
        {% block title %}
        Pur Beurre
        {% endblock title %}
      </title>
      <!-- Favicon-->
      <link rel="icon" type="image/png" href="{% static 'assets/icons/logo_pur_beurre-favicon.png' %}" />
      <!-- Bootstrap Icons-->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
      <!-- Google fonts-->
      <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
      <!-- SimpleLightbox plugin CSS-->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
      <!-- Core theme CSS (includes Bootstrap)-->
      <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
      <link href="{% static 'css/custom.css' %}" rel="stylesheet" />
    </head>
    <body id="page-top">
      {% include "alerte.html" %}
      {% block base_content %}
      {% endblock base_content %}
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5">
              <div class="small text-center text-muted">
                <a href="{% url 'legal' %}">Mentions légales</a>
                Copyright &copy; 2022 - Pur Beurre
                <a href="{% anchor 'substitute:home' 'contact' %}">Contact</a>
              </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="static/js/scripts.js"></script>
    </body>
</html>
