{% extends "base.html" %}

{% load static %}
{% load bootstrap5 %}

{% block base_content %}
  {% include "navbar/basic.html" %}
  {% block content %}
  <!-- Masthead-->
  <section class="page-section bg-image" id="rechercher">
      <div class="container px-4 px-lg-5 h-100">
          <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
              <div class="col-lg-8 align-self-end">
                  <h1 class="text-white font-weight-bold">Du gras, oui, mais de qualité !</h1>
                  <hr class="divider" />
                  <h2 class="text-white mt-0">Trouvez un produit de substitution pour ceux que vous consommez tous les jours.</h2>
              </div>
              <div class="col-md-6">
                <form action="{% url 'substitute:search' %}" method="get" class="d-flex justify-content-center">
                  {% bootstrap_form searchform layout='inline' %}
                  {% buttons %}
                  <button type="submit" class="btn btn-primary d-flex">
                    Rechercher
                  </button>
                  {% endbuttons %}
                </form>
              </div>
          </div>
      </div>
    </section>
  <!-- Services-->
  <section class="page-section" id="apropos">
    <div class="container px-4 px-lg-5">
      <h2 class="text-center mt-0">Colette et Remy</h2>
      <hr class="divider" />
      <div class="row gx-4 gx-lg-5">
        <p class="text-center text-muted mb-3">
          Nous sommes une jeune startup fondée par Remy et Colette Tatou, 
          deux restaurateurs de renom. Notre restaurant, situé à Montmartre (Paris), 
          compte une cinquantaine de couverts et ne désemplit pas. Notre spécialité, 
          la ratatouille, nous attire une clientèle internationale charmée par les délices de ce plat typique. 
        </p>
        <p class="text-center text-muted mb-4">
          Remy et Colette sont amoureux de la gastronomie française (on ne peut les blâmer !). 
          Travaillant quotidiennement avec les meilleurs produits du terroir, 
          ils affectionnent particulièrement la bonne chaire et aiment partager leur passion. 
          Il est donc normal que Remy ait sauté au plafond quand Colette, un jour de déprime, 
          sortit du placard un kilo de Nutella et l’attaqua à la petite cuillère. 
          Pourquoi ne pas opter pour une pâte à tartiner aux noisettes, plus consistante et moins sucrée ? 
          Pourquoi, oh pourquoi s’infliger une telle souffrance ? Rémy était sidéré. 
          La réponse de Colette fut simple : elle n’avait pas trouvé de substitut assez convainquant. 
          A vrai dire, elle n’avait même pas cherché.
        </p>
        <div class="col-md-6 text-center">
          <div class="mt-5">
            <div class="mb-2">
              <img src={% static 'assets/img/colette.jpg' %} class="img-thumbnail float-left rounded"/>
            </div>
            <h3 class="h4 mb-2">Colette</h3>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <div class="mt-5">
            <div class="mb-2">
              <img src={% static 'assets/img/remy.jpg' %} class="img-thumbnail float-right rounded"/>
            </div>
              <h3 class="h4 mb-2">Remy</h3>
            </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact-->
  <section class="page-section bg-primary" id="contact">
      <div class="container px-4 px-lg-5">
          <div class="row gx-4 gx-lg-5 justify-content-center">
              <div class="col-lg-8 col-xl-6 text-center">
                  <h2 class="mt-0">Contactez nous !</h2>
                  <hr class="divider" />
                  <p class="mb-5">Une question ou une remarque? Envoyez nous un message et nous répondrons le plus rapidement possible!</p>
              </div>
          </div>
          <div class="row gx-4 gx-lg-5 justify-content-center">
              <div class="col-lg-4 text-center mb-5 mb-lg-0">
                  <i class="bi-phone fs-2 mb-3 col-6"></i>
                  <div><a class="text-white" href="tel:+15551234567">+1 (555) 123-4567</a></div>
                </div>
                <div class="col-lg-4 text-center mb-5 mb-lg-0">
                  <i class="bi-mailbox fs-2 mb-3 col-6"></i>
                  <div><a class="text-white" href="mailto:contact@purbeurre.fr">contact@purbeurre.fr</a></div>
              </div>
          </div>
      </div>
  </section>
  {% endblock content %}
{% endblock base_content %}