{% extends "home.html" %}

{% load bootstrap5 %}

{% block title %}Mon compte{% endblock title %}

{% block content %}
<section class="page-section bg-image" id="top-fond">
    <div class="text-white text-center">
        <h2>Mon compte</h2>
    </div>
</section>
<div class="container text-center text-muted my-3">
    {% comment %} <div class="float-start"> {% endcomment %}
        <h4>Email: {{ user.email }}</h4>
        <h4>Prénom: {{ user.first_name|default:"Vous n'avez pas renseigné de prénom." }}</h4>
        <h4>Nom: {{ user.last_name|default:"Vous n'avez pas renseigné de nom de famille." }}</h4>
    {% comment %} </div> {% endcomment %}
    <a class="btn btn-primary" href="{% url 'users:update' user.id %}">Mettre à jour les informations</a>
</div>
{% endblock content %}